body {

	#tawkchat-iframe-container {

		#tawkchat-minified-iframe-element {
			transform: translateX(50%) !important;
			position: absolute !important;
			overflow: hidden !important;
		}

		#tawkchat-maximized-iframe-element {
			min-width: 100% !important;
			max-width: 100% !important;
			width: 100% !important;
		}

	}

}